---
import TeamCard from "@/components/TeamCard.astro";

interface Member {
  poster: string;
  name: string;
  role: string;
}

const team: Member[] = [
  {
    poster: "/images/retainership/employee-image.jpg",
    name: "Harsh Patil",
    role: "Founder & CEO",
  },
  { poster: "/images/retainership/employee-image.jpg", name: "Harsh Patil", role: "CTO" },
  {
    poster: "/images/retainership/employee-image.jpg",
    name: "Harsh Patil",
    role: "Head of Design",
  },
];
---

<section aria-label="Team" class="grid gap-6 md:grid-cols-3">
  {team.map((member) => <TeamCard poster={member.poster} name={member.name} role={member.role} />)}
</section>
