---
// COMPONENTS //
import BrandLogo from "../../components/BrandLogo.astro";
import ToolBadge from "../../components/ToolBadge.astro";

const clientLogos = [
                    {clientName: "reliance-digital.svg", alt: "Reliance Digital"},
                    {clientName: "times-of-india.svg", alt: "Times Of India"},
                    {clientName: "ceat.svg", alt: "Ceat"},
                    {clientName: "eighty-days.svg", alt: "Eighty Days"},
                    {clientName: "too-yumm.svg", alt: "Too Yumm"},
                    {clientName: "sai-international-school.svg", alt: "Sai International School"},
                    {clientName: "zizo.svg", alt: "Zizo"},
                    {clientName: "ceat.svg", alt: "Ceat"},
                    {clientName: "reliance-digital.svg", alt: "Reliance Digital"},
                    {clientName: "skorost-united.svg", alt: "Skorost United"},
                    {clientName: "fcb.svg", alt: "Fcb"},
                    {clientName: "times-of-india.svg", alt: "Times Of India"},
                    {clientName: "times-of-india.svg", alt: "Times Of India"}
                    ]
---

<!-- Clients Section -->
<section>

    <!-- Container -->
    <div class="flex-col flex-wrap justify-center items-center">

        <!-- Header Wrapper -->
        <div class="flex-col flex-wrap p-6 w-full justify-center items-center">
            <div class="flex justify-center">
                <ToolBadge/>
            </div>
            <p class="text-n-200 text-2xl w-full h-[60px] font-extrabold leading-tight text-center">Brands that believe in our code</p>
        </div>

        <!-- Client Logo Wrapper -->
        <div class="flex flex-wrap justify-center items-center gap-6 p-6"> 
            {clientLogos.map((logo)=>(
                <div class="w-[100px] h-[54px] flex justify-center items-center">
                    <img src={`/icons/${logo.clientName}`} alt={`${logo.alt}`} class="object-contain">
                </div>
            ))}
        </div>

    </div>

</section>