---
// COMPONENTS //
import ToolBadge from "../../components/ToolBadge.astro";

// Array Of Objects Containing Client Logos
const clientLogos = [
  { clientName: "reliance-digital.svg", alt: "Reliance Digital" },
  { clientName: "times-of-india.svg", alt: "Times Of India" },
  { clientName: "ceat.svg", alt: "Ceat" },
  { clientName: "pango.svg", alt: "Pango" },
  { clientName: "eighty-days.svg", alt: "Eighty Days" },
  { clientName: "too-yumm.svg", alt: "Too Yumm" },
  {
    clientName: "sai-international-school.svg",
    alt: "Sai International School",
  },
  { clientName: "zizo.svg", alt: "Zizo" },
  { clientName: "skorost-united.svg", alt: "Skorost United" },
  { clientName: "fcb.svg", alt: "Fcb" },
];
---

<!-- Clients Section -->
<section class="flex justify-center items-center">
  <!-- Container -->
  <div
    class="flex flex-col flex-wrap justify-center items-center gap-10 py-24 px-6 container md:py-32 md:px-6 md:gap-16 lg:py-32 lg:px-8 lg:gap-20"
  >
    <!-- Header Wrapper -->
    <div
      class="flex flex-col flex-wrap m-auto gap-6 w-full justify-center items-center lg:gap-7"
    >
      <div class="flex justify-center">
        <ToolBadge icon="building" text="Powering Ideas into Impact" />
      </div>
      <p
        class="anim-fade-in-up text-n-950 text-2xl w-full font-bold leading-tight text-center md:text-3xl lg:text-5xl"
      >
        Brands that believe in our code
      </p>
    </div>

    <!-- Client Logo Wrapper -->
    <div class="flex flex-wrap justify-center items-center gap-6">
      <!-- Loop Through Client Logos -->
      {
        clientLogos.map((logo) => (
          <div class="anim-fade-in-up w-[100px] h-[54px] md:w-[200px] md:h-[108px] lg:w-[260px] lg:h-[141px] flex justify-center items-center py-4">
            <img
              src={`/icons/${logo.clientName}`}
              alt={`${logo.alt}`}
              class="w-full h-full"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
