---
// COMPONENTS //
import ToolBadge from "@/components/ToolBadge.astro";

// DATA //
import { clients } from "@/data/clients";

const clientDetails = {
  badgeTitle: "Powering Ideas into Impact",
  title: "Brands that believe in our code",
};
---

<!-- Clients Section -->
<section class="flex justify-center items-center">
  <!-- Container -->
  <div
    class="flex flex-col flex-wrap justify-center items-center gap-10 py-24 px-6 container md:py-32 md:px-6 md:gap-16 lg:py-32 lg:px-8 lg:gap-20"
  >
    <!-- Header Wrapper -->
    <div
      class="flex flex-col flex-wrap m-auto gap-6 w-full justify-center items-center lg:gap-7"
    >
      <!-- ToolBadge component -->
      <div class="flex justify-center">
        <ToolBadge icon="building" text={clientDetails.badgeTitle} />
      </div>

      <!-- Title -->
      <p
        class="anim-fade-in-up text-n-950 text-2xl w-full font-bold leading-tight text-center md:text-3xl lg:text-5xl"
      >
        {clientDetails.title}
      </p>
    </div>

    <!-- Client Logo Wrapper -->
    <div class="flex flex-wrap justify-center items-center gap-6">
      <!-- Loop Through Client Logos -->
      {
        clients.map((client) => (
          <div class="anim-fade-in-up w-[100px] h-[54px] md:w-[200px] md:h-[108px] lg:w-[260px] lg:h-[141px] flex justify-center items-center">
            <img
              src={`/images/${client.clientName}`}
              alt={`${client.alt}`}
              class="object-contain max-w-24 max-h-10 md:max-w-[150px] md:max-h-[70px] lg:max-h-[90px] lg:max-w-[200px]"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
