---
import ToolBadge from "../../components/ToolBadge.astro";

import { Icon } from "astro-icon/components";
---

<section>
  <div
    class="container mx-auto flex flex-col gap-11 lg:gap-20 px-6 py-16 md:py-24 lg:py-20"
  >
    <!-- Section Header -->
    <div class="flex flex-col items-center gap-6 lg:gap-7">
      <!-- Tool Badge component -->
      <ToolBadge title="Collaborate with Pixolo" />

      <!-- Header Content -->
      <div class="flex flex-col gap-3.5 lg:gap-4 text-center">
        <p class="text-n-950 font-medium text-3xl lg:text-7xl">
          Come say Hi&#x21; 👋
        </p>
        <p class="text-n-950 font-medium text-base lg:text-xl">
          Your vision deserves the right team — let’s start there.
        </p>
      </div>
    </div>

    <!-- Content wrap -->
    <div class="flex flex-col lg:flex-row justify-center gap-3.5">
      <div>
        <!-- Phone -->
        <a
          class="hover:bg-n-200 flex gap-5 items-end justify-between rounded-4xl bg-n-100 py-5 px-6"
        >
          <div class="flex items-center gap-5">
            <div
              class="flex size-11 sm:size-16 lg:size-[74px] items-center justify-center rounded-full bg-linear-to-r from-[#4254D4] to-[#8B77F3]"
            >
              <Icon name="phone" class="size-5 sm:size-6" />
            </div>
            <div class="flex flex-col gap-0.5">
              <p
                class="text-n-700 font-bold text-xs sm:text-sm  md:text-base lg:text-xl"
              >
                Call / Text Us
              </p>
              <p class="font-semibold text-sm sm:text-lg text-n-900">
                9768941186
              </p>
            </div>
          </div>
          <Icon name="copy" class="size-5" />
        </a>

        <!-- Mail -->
        <a
          class="hover:bg-n-200 flex w-full gap-5 items-end justify-between rounded-4xl bg-n-100 py-5 px-6"
        >
          <div class="flex items-center gap-5 max-w-[80%]">
            <div
              class="flex size-11 sm:size-16 lg:size-[74px] items-center justify-center rounded-full bg-linear-to-r from-[#4254D4] to-[#8B77F3]"
            >
              <Icon name="mail" class="size-5 sm:size-6" />
            </div>
            <div class="flex flex-col gap-0.5 w-[60%]">
              <p
                class="font-bold text-xs text-n-700 sm:text-sm md:text-base lg:text-xl"
              >
                Drop a Email
              </p>
              <p
                class="font-semibold text-sm text-n-900 max-sm:truncate sm:text-lg"
              >
                hello@pixolotechnologies.com
              </p>
            </div>
          </div>
          <div class="">
            <Icon name="copy" class="size-5" />
          </div>
        </a>
      </div>

      <!-- Location -->
      <div
        class="hover:bg-n-200 p-6 flex flex-col sm:flex-row justify-between gap-5 bg-n-100 rounded-4xl sm:gap-24"
      >
        <div class="flex flex-col gap-5">
          <div class="flex flex-col gap-2.5">
            <div
              class="flex size-11 sm:size-16 lg:size-[74px] items-center justify-center rounded-full bg-linear-to-r from-[#4254D4] to-[#8B77F3]"
            >
              <Icon name="location" class="size-5 sm:size-6" />
            </div>
            <div class="flex flex-col gap-0.5">
              <p class="font-bold text-xs text-n-700 sm:text-sm">Our Space</p>
              <p class="font-semibold text-sm text-n-900 sm:text-lg">
                Where ideas meet code
              </p>
            </div>
          </div>
          <div class="flex gap-5">
            <p class="font-semibold text-xs">G Block BKC, Mumbai</p>
            <Icon name="right-arrow" />
          </div>
        </div>
        <!-- Map -->
        <div class="border-n-950 border rounded-4xl overflow-hidden w-full flex-1">
          <img src="/images/map.png" alt="" class="h-full object-contain" />
        </div>
      </div>
    </div>
  </div>
</section>
