---
// COMPONENTS //
import ProjectCard from "@/components/Industries/ProjectCard.astro";
---

<section>
  <div class="container mx-auto flex">
    <ProjectCard
      websiteLink="/"
      image="/images/industries/barcelona-brand-logo.png"
      name="Football Club Barcelona"
    />
    <ProjectCard
      websiteLink="/"
      image="/images/industries/barcelona-brand-logo.png"
      name="Football Club Barcelona"
    />
  </div>
</section>
