---
//COMPONENTS
import ProjectCard from "@/components/portfolio/ProjectCard.astro";
---

<!-- Portfolio Section -->
<section>
  <div class="flex flex-col items-center justify-center">
    <!-- Container -->
    <div
      class="container flex flex-col items-center justify-center gap-20 px-6 py-16 md:gap-28 md:py-28 lg:gap-40 lg:px-14 lg:py-52"
    >
      <!-- Tile Wrapper -->
      <div class="h-[1168.81px]">
        <div class="relative">
          <ProjectCard
            brandColor="bg-blue-500"
            image="images/portfolio/project-card/image1.png"
            logo="images/portfolio/project-card/too-yumm-logo.png"
            title="E-commerce Platform for Local Brands"
            subtitle="Built a scalable e-commerce solution empowering small businesses to sell online with zero code setup."
            chipItems={["Product Design", "App Development", "Dashboard Design"]}
          />
          <div class="absolute top-[524.41px]">
            <ProjectCard
              brandColor="bg-red-500"
              image="images/portfolio/project-card/image2.png"
              logo="images/portfolio/project-card/reliance-logo.png"
              title="E-commerce Platform for Local Brands"
              subtitle="Built a scalable e-commerce solution empowering small businesses to sell online with zero code setup."
              chipItems={["Product Design", "App Development", "Dashboard Design"]}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
