---
import ProjectCard from "@/components/portfolio/ProjectCard.astro";
---

<section>
  <!-- Container -->
  <div class="flex flex-col gap-20 px-6 py-16">
    <ProjectCard
      backgroundColor="bg-red-500"
      image=""
      logo="icons/reliance-digital-logo.svg"
      title="E-commerce Platform for Local Brands"
      subtitle="Built a scalable e-commerce solution empowering small businesses to sell online with zero code setup."
      chips={["Product Design", "App Development", "Dashboard Design"]}
    />
  </div>
</section>
