---
//COMPONENTS
import ArticleCard from "@/components/ArticleCard.astro";
//OTHER
import image from "../../../public/images/portfolio/article-card/image1.png";
---

<!-- Portfolio Section -->
<section>
  <!-- Container -->
  <div class="px-6 py-16">
    <ArticleCard
      thumbnail={image}
      chipItems={["Product Design", "App Development", "Dashboard Design"]}
      title="E-commerce Platform for Local Brands"
      subtitle="Built a scalable e-commerce solution empowering small businesses to sell online with zero code setup."
      ctaText=""
    />
  </div>
</section>
