---
import ArticleCard from "@/components/portfolio/ArticleCard.astro";
---

<section>
  <div class="">
    <ArticleCard
      image=""
      tabs={[]}
      title="E-commerce Platform for Local Brands"
      subtitle="Built a scalable e-commerce solution empowering small businesses to sell online with zero code setup."
    />
  </div>
</section>
