---
import Slab from "@/components/Retainership/Slab.astro";
---

<section>
  <Slab
    title="Work with the most trusted people who aim for perfection"
    btnText="Contact Us"
    images={Array(4).fill("/3d-ball-1.svg")}
  />
</section>
