---
import MediaCardBlock from "./MediaCardBlock.astro";
import TextSectionBlock from "./TextSectionBlock.astro";
---

<section class="flex flex-col gap-16">
  {
    content.map((block) => {
      if (block.type === "media-card") {
        return <MediaCardBlock block={block} />;
      }
      if (block.type === "text-section") {
        return <TextSectionBlock block={block} />;
      }
      return null;
    })
  }
</section>
