---
import type { BlogBlock } from "@/data/blogs";
import ParagraphBlock from "./ParagraphBlock.astro";
import HeadingBlock from "./HeadingBlock.astro";
import MediaCardBlock from "./MediaCardBlock.astro";

interface Props {
  content: BlogBlock[];
}

const { content } = Astro.props as Props;
---

<div class="space-y-10">
  {
    content.map((block) => {
      switch (block.type) {
        case "heading":
          return <HeadingBlock block={block} />;

        case "paragraph":
          return <ParagraphBlock block={block} />;

        case "media":
          return <MediaCardBlock block={block} />;

        default:
          return null;
      }
    })
  }
</div>
