---
const { block } = Astro.props;
---

<section class="flex max-w-[256px] flex-col gap-6 md:max-w-[560px] md:gap-10 lg:max-w-[995px]">
  <!-- Heading -->
  <h2
    class:list={[
      "text-n-950",

      /* Mobile */
      block.size === "xl" && "text-3xl leading-10",
      block.size === "lg" && "text-2xl leading-9",
      block.size === "md" && "text-2xl leading-9",

      /* Tablet */
      block.size === "xl" && "md:text-5xl md:leading-[72px]",
      block.size === "lg" && "md:text-4xl md:leading-[54px]",
      block.size === "md" && "md:text-3xl md:leading-10",

      /* Desktop */
      block.size === "xl" && "lg:text-6xl lg:leading-[90px]",
      block.size === "lg" && "lg:text-5xl lg:leading-[72px]",
      block.size === "md" && "lg:text-4xl lg:leading-[54px]",
    ]}
  >
    {block.heading}
  </h2>

  <!-- Paragraph -->
  {
    block.body && (
      <div class="text-n-700 text-sm leading-5 md:text-lg md:leading-7 lg:text-xl lg:leading-8" />
    )
  }

  <!-- Bullets -->
  {
    block.bullets && (
      <ul class="flex flex-col gap-2.5 pl-8">
        {block.bullets.map((point) => (
          <li class="flex gap-3.5 md:gap-5 lg:gap-6">
            <span class="bg-n-700 mt-2 h-1.5 w-1.5 rounded-full" />
            <span class="text-n-700 text-sm leading-4 md:text-lg md:leading-7 lg:text-xl lg:leading-8">
              {point}
            </span>
          </li>
        ))}
      </ul>
    )
  }

  <!-- Link -->
  {
    block.link && (
      <a
        href={block.link.href}
        class="w-fit text-sm leading-5 font-medium text-blue-500 underline md:text-lg md:leading-7 lg:text-xl lg:leading-8"
      >
        {block.link.label}
      </a>
    )
  }
</section>
