---
interface Props {
  items: string[];
}

const { items } = Astro.props as Props;
---

<!-- Snapshot List Component -->
<div class="text-normal flex flex-col gap-1 text-xs leading-tight md:gap-2 md:text-xl lg:text-2xl">
  {items.map((item) => <p>{item}</p>)}
</div>
