---
interface Props {
  title: string;
  value: string;
}

const { title = "Header", value = "Data" } = Astro.props;
---

<!-- Client Number Data Component -->
<div
  class="bg-n-100 flex flex-col justify-between gap-7 rounded-3xl px-5 py-6 font-medium hover:bg-blue-500 md:gap-12"
>
  <!-- Component Title -->
  <p class="text-n-800 md:text-xl">{title}</p>
  <!-- Component Number -->
  <p class="text-end text-5xl md:text-6xl">{value}</p>
</div>
