---
import Image from "astro/components/Image.astro";

interface Props {
  toolIcon: string;
  toolTitle: string;
  toolDescription: string;
}

import { toolUsed } from "@/data/case-studies/1";

const { toolIcon, toolTitle, toolDescription } = Astro.props;
---

<div
  class="border-n-700 flex flex-col gap-3.5 rounded-4xl border px-3.5 pt-3 pb-4 md:flex-row md:items-center md:gap-8 md:rounded-full lg:gap-9"
>
  <div
    class="flex items-center gap-1 md:size-32 md:flex-col-reverse md:items-center md:justify-center md:rounded-full md:border md:px-6 md:py-8 lg:px-11 lg:py-6"
  >
    <!-- Tool Image -->
    <Image
      class="md:h-[60px] md:w-[48px] lg:h-auto lg:w-auto"
      width={56}
      height={56}
      src={toolIcon}
      alt="Pixolo Tool"
    />
    <!-- Tool Title -->
    <p class="text-sm font-medium text-nowrap md:text-xl">{toolTitle}</p>
  </div>
  <!-- Description -->
  <p class="text-n-800 text-sm leading-tight md:text-lg lg:text-xl">{toolDescription}</p>
</div>
