---
interface props {
  number: string;
  title: string;
  message: string;
}

const { number, title, message } = Astro.props as props;
---

<div
  class="bg-n-100 flex min-h-[311px] w-full flex-col justify-between gap-4 rounded-4xl from-(--blue-500) to-[#8B77F3] py-14 pr-14 pl-6 hover:bg-gradient-to-br md:min-h-[380px] md:gap-25 lg:h-full lg:max-h-[428px]"
>
  <!-- Header -->
  <div class="flex flex-col gap-2">

    <!-- Number -->
    <p class="text-n-950 text-3xl leading-tight font-medium tracking-[-0.07em] md:text-4xl">
      {number}
    </p>

    <!-- Title -->
    <p class="text-n-950 text-3xl leading-tight font-medium md:text-4xl">
      {title}
    </p>
  </div>

  <!-- Message -->
  <p class="text-n-700 text-sm leading-tight font-normal">{message}</p>
</div>
