---
// COMPONENTS //
import RoundedButton from "@/components/RoundedButton.astro";
import Image from "astro/components/Image.astro";
interface Props {
  count?: string;
  title: string;
  btnText: string;
  images: string[];
}
const { count, title, btnText, images } = Astro.props as Props;
---

<div
  class="bg-n-100/80 flex w-full flex-col justify-center gap-9 rounded-4xl px-5 py-10 backdrop-blur-xl md:gap-7 md:px-5 md:py-7 lg:flex-row lg:items-center lg:justify-between"
>
  <!-- Images + Text -->
  <div class="flex flex-col gap-4 md:gap-5 lg:flex-row lg:gap-16">
    <!-- Avatars + Badge -->
    <div class="flex items-center gap-3">
      <!-- Avatars -->
      <div class="flex items-center">
        {
          images.map((img, index) => (
            <Image
              src={img}
              alt={`Profile ${index + 1}`}
              width={51}
              height={51}
              class={`h-[51px] w-[51px] rounded-full object-cover ${index > 0 && "-ml-4"}`}
            />
          ))
        }
      </div>

      <!-- Badge -->
      <p class="text-n-950 text-xl leading-tight font-normal">{count}</p>
    </div>

    <!-- Main text -->
    <p class="text-n-950 text-xl leading-tight font-medium lg:self-center">{title}</p>
  </div>

  <!-- CTA BUTTON -->
  <div>
    <RoundedButton buttonText={btnText} />
  </div>
</div>
