---
// COMPONENTS //
import RoundedButton from "@/components/RoundedButton.astro";
import Image from "astro/components/Image.astro";

interface Props {
  count?: string;
  title: string;
  btnText: string;
  images: string[];
}
const { count, title, btnText, images } = Astro.props as Props;
---

<div
  class="bg-n-100 flex w-full flex-col items-start justify-between gap-9 rounded-4xl px-5 py-10 backdrop-blur-xl md:gap-7 md:py-7 lg:flex-row lg:items-center"
>
  <!-- Images + Text -->
  <div
    class="flex flex-1 flex-col items-start gap-4 md:gap-5 lg:flex-row lg:items-center lg:gap-16"
  >
    <!-- Avatars + Badge count -->
    <div class="flex items-center gap-3">
      <!-- Avatars -->
      <div class="flex items-center">
        {
          images.map((img, index) => (
            <Image
              src={img}
              alt={`Profile ${index + 1}`}
              width={50}
              height={50}
              class={`size-[50px] rounded-full object-cover ${index > 0 ? "-ml-4" : ""}`}
            />
          ))
        }
      </div>

      <!-- Badge count -->
      <span class="text-n-950 text-xl leading-tight font-normal">{count}</span>
    </div>

    <!-- Title -->
    <p class="text-n-950 text-xl leading-tight font-medium">{title}</p>
  </div>

  <!-- CTA Button -->
  <RoundedButton buttonText={btnText} />
</div>
