---
import ToolBadge from "../components/ToolBadge.astro";


---

<!-- Clients Section -->
<section>
    <!-- Container -->
    <div>
        <!-- Header Wrapper -->
        <div>
            <div>
                <ToolBadge/>
            </div>
            <p>Brands that believe in our code</p>
        </div>

        <!-- Client Logo Wrapper -->
        <div>
            <img src="../../public/RelianceDigital.png" alt="">
            <img src="../../public/RelianceDigital.png" alt="">
            <img src="../../public/RelianceDigital.png" alt="">
        </div>
    </div>
</section>