---
// Define PROPS //
interface Props {
  tagName: string;
}

const { tagName } = Astro.props as Props;
---

<!-- Tag -->
<div class="border-0.7 border-n-500 rounded-3xl px-2.5 py-1">
  <!-- Tag Content -->
  <p class="text-n-700 text-center text-xs leading-tight font-normal">{tagName}</p>
</div>
