---
import ToolBadge from "@/components/ui/ToolBadge.astro";
---

<section>
  <!-- Container -->
  <div class="container mx-auto flex flex-col gap-10 px-6 py-16">
    <!-- Header Section -->
    <div class="flex flex-col items-center gap-3.5">
      <ToolBadge icon="package" text="Your Growth Starts Here" />
      <p class="text-center text-2xl leading-tight font-normal tracking-[-0.02em]">
        A friendly, flexible environment built for your best work.
      </p>
    </div>
    <!-- Content Wrap -->
    <div></div>
  </div>
</section>
