---
// COMPONENTS //
import { Icon } from "astro-icon/components";

interface Props {
  problemDescription: string;
  solutionDescription: string;
}
const { problemDescription, solutionDescription } = Astro.props as Props;
---

<div
  class="border-n-500 flex max-w-[327px] flex-col gap-3 rounded-4xl border px-3 py-4 md:max-w-[768px] md:flex-row md:gap-7 lg:max-w-[1536px] lg:rounded-[100px] lg:p-2"
>
  <!-- Problem Wrapper -->
  <div class="flex w-full flex-col gap-1.5 md:gap-7 lg:flex-row lg:items-center">
    <div
      class="border-n-500 flex w-full flex-col rounded-3xl border-[0.8px] py-3 lg:h-36 lg:w-36 lg:justify-center lg:rounded-[73.5px]"
    >
      <p
        class="text-n-700 self-center text-center text-base leading-tight font-medium tracking-normal md:text-xl lg:text-2xl"
      >
        Problem
      </p>
    </div>
    <p
      class="text-n-950 self-center text-center text-base leading-tight font-normal tracking-normal md:text-xl lg:text-2xl"
    >
      {problemDescription}
    </p>
  </div>

  <!-- Icon Wrapper -->
  <div
    class="lg:border-n-300 relative flex self-center lg:h-36 lg:w-[144px] lg:flex-col lg:items-center lg:justify-center lg:rounded-full lg:border"
  >
    <div class="lg:flex lg:w-full lg:justify-center">
      <Icon name={"polygon"} class="h-5 w-5 rotate-[28.04] md:h-6 md:w-6 lg:h-7.5 lg:w-7.5" />
      <Icon
        name={"polygon-2"}
        class="absolute left-2 h-5 w-5 rotate-[28.04] md:h-6 md:w-6 lg:h-7.5 lg:w-7.5"
      />
    </div>
  </div>

  <!-- Solution Wrapper -->
  <div class="flex w-full flex-col gap-1.5 md:gap-7 lg:flex-row-reverse lg:items-center">
    <div
      class="border-n-500 flex w-full flex-col rounded-[73.5px] border-[0.8px] py-3 lg:h-36 lg:w-36 lg:justify-center lg:rounded-[73.5px]"
    >
      <p
        class="text-n-700 self-center text-center text-base leading-tight font-medium tracking-normal md:text-xl lg:text-2xl"
      >
        Solution
      </p>
    </div>
    <p
      class="text-n-950 text-center text-base leading-tight font-medium tracking-normal md:text-xl lg:text-2xl"
    >
      {solutionDescription}
    </p>
  </div>
</div>
