---
// COMPONENTS //
import { Icon } from "astro-icon/components";

interface Props {
  problem: string;
  solution: string;
}
const { problem, solution } = Astro.props as Props;
---

<!-- Pain Solution Card Component -->
<div
  class="pain-solution-card border-n-500 container flex flex-col gap-3 rounded-4xl border px-3 py-4 md:flex-row md:gap-7 lg:gap-7 lg:rounded-[100px] lg:p-2"
>
  <!-- Problem Wrapper -->
  <div class="flex w-full flex-col gap-1.5 md:gap-7 lg:flex-row lg:items-center lg:gap-7">
    <div
      class="border-n-500 flex w-full flex-col rounded-3xl border-[0.8px] py-3 lg:h-36 lg:w-36 lg:flex-none lg:justify-center lg:rounded-full"
    >
      <!-- Problem label -->
      <p
        class="text-n-700 self-center text-center text-base leading-tight font-medium tracking-normal md:text-xl lg:text-2xl"
      >
        Problem
      </p>
    </div>

    <!-- Problem description -->
    <p
      class="text-n-950 self-center text-center text-base leading-tight font-normal tracking-normal md:text-xl lg:flex-1 lg:text-2xl"
    >
      {problem}
    </p>
  </div>

  <!-- Icon Wrapper -->
  <div
    class="lg:border-n-300 flex items-center justify-center lg:h-36 lg:w-36 lg:shrink-0 lg:self-center lg:rounded-full lg:border"
  >
    <!-- Polygon Icon -->
    <Icon name={"double-polygon"} class="size-9 md:size-14" />
  </div>

  <div class="flex w-full flex-col gap-1.5 md:gap-7 lg:flex-row-reverse lg:items-center lg:gap-7">
    <div
      class="border-n-500 flex w-full flex-col rounded-[73.5px] border-[0.8px] py-3 lg:h-36 lg:w-36 lg:justify-center lg:rounded-full"
    >
      <!-- Solution label -->
      <p
        class="text-n-700 self-center text-center text-base leading-tight font-medium tracking-normal md:text-xl lg:text-2xl"
      >
        Solution
      </p>
    </div>
    <!-- Solution description -->
    <p
      class="text-n-950 text-center text-base leading-tight font-medium tracking-normal md:text-xl lg:flex-1 lg:text-2xl"
    >
      {solution}
    </p>
  </div>
</div>
