---
// COMPONENTS //
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";

// OTHERS //
import BrandLogo from "../ui/BrandLogo.astro";

// SVG's //
import Ball from "@/assets/3d-ball.svg";

// Icons //
const icons = ["code-icon", "block-icon", "bulb-icon", "rocket-icon", "ux-icon"];
---

<div
  id="loading-screen"
  class="bg-n-50 fixed inset-0 z-[999] flex flex-col items-center justify-between overflow-hidden py-20 transition-opacity duration-700 md:py-40 lg:py-32"
>
  <div class="z-20 flex items-center justify-center">
    <!-- For Mobile -->
    <BrandLogo width={115} classes="block md:hidden" />
    <!-- For Desktop -->
    <BrandLogo width={180} classes="hidden md:block" />
  </div>

  <!-- Loader text with icon -->
  <div
    id="loader-text"
    class="z-20 flex flex-col items-center gap-6 transition-all duration-200 ease-in-out"
  >
    <div
      id="loading-row"
      class="flex items-center justify-center gap-1 transition-all duration-100"
    >
      <p class="text-5xl leading-none font-normal text-neutral-50 md:text-8xl lg:text-[140px]">
        load
      </p>

      <!-- Icon Slot -->
      <div class="icon-slot flex size-20 items-center justify-center md:size-40 lg:size-[180px]">
        {
          icons.map((icon) => (
            <span class="loader-icon absolute scale-90 opacity-0 transition-all duration-120 ease-out">
              <Icon name={icon} class="size-20 text-neutral-50 md:size-40 lg:size-[180px]" />
            </span>
          ))
        }
      </div>

      <p class="text-5xl leading-none font-normal text-neutral-50 md:text-8xl lg:text-[140px]">
        ing
      </p>
    </div>
  </div>

  <!-- Marble Loader -->
  <div class="relative z-20 mt-12 flex size-16 items-center justify-center md:size-24">
    <!-- Orbit Arc -->
    <div
      class="animate-orbit border-l-n-950 border-t-n-950 absolute inset-0 rounded-full border-4 border-transparent opacity-90"
    >
    </div>

    <!-- Marble -->
    <Image
      id="loader-marble"
      src={Ball}
      alt="Big Marble"
      class="animate-marble z-10 w-14 md:w-[88px]"
    />
  </div>

  <!-- Background Circle Gradient -->
  <div
    class="fixed top-[40%] left-1/2 hidden h-[885px] w-[885px] -translate-x-1/2 rounded-full dark:block"
    style="background: linear-gradient(90deg, rgba(22, 125, 229, 0.36) 0%, rgba(95, 74, 200, 0.36) 92.31%); filter: blur(200px);"
  >
  </div>
</div>

<!-- <script is:inline>
  // -----------------------------
  // ICON CYCLE (scoped)
  // -----------------------------
  const loader = document.getElementById("loading-screen");
  const row = loader?.querySelector("#loading-row");
  const icons = loader?.querySelectorAll(".loader-icon");

  if (loader && row && icons && icons.length) {
    let current = 0;

    // show first icon
    icons[current].classList.remove("opacity-0", "scale-90");
    icons[current].classList.add("opacity-100", "scale-100");

    setInterval(() => {
      // text moves in
      row.classList.remove("gap-1");
      row.classList.add("gap-0");

      // fade + scale down current
      icons[current].classList.remove("opacity-100", "scale-100");
      icons[current].classList.add("opacity-0", "scale-90");

      setTimeout(() => {
        current = (current + 1) % icons.length;

        // fade + scale up next
        icons[current].classList.remove("opacity-0", "scale-90");
        icons[current].classList.add("opacity-100", "scale-100");

        // text moves out
        row.classList.remove("gap-0");
        row.classList.add("gap-1");
      }, 120);
    }, 700);
  }
</script> -->

<style>
  .icon-slot {
    position: relative;
  }

  @layer utilities {
    @keyframes orbit {
      to {
        transform: rotate(360deg);
      }
    }

    @keyframes marble {
      to {
        transform: rotate(-360deg);
      }
    }

    .animate-orbit {
      animation: orbit 2s linear infinite;
    }

    .animate-marble {
      animation: marble 6s linear infinite;
    }
  }

  #loading-screen.hide-text #loader-text {
    opacity: 0;
    transform: translateY(24px);
  }
</style>

<script>
  import { initLoader } from "@/scripts/loader";

  initLoader();
</script>
