---
const label = "Code & Culture";
const heading = "Stories and trends shaping how technology connects us.";
const loadMoreButton = "Load More Blogs";
---

<!-- Blogs Section -->
<section>
  <div>
    <!-- Comment Icon -->

    <!-- Labels -->
    <p>{label}</p>
  </div>

  <!-- Heading -->
  <p>{heading}</p>

  <!-- Blog Cards Wrapper -->
  <div>
    <!-- Blog Cards -->
  </div>

  <!-- Load More Button -->
  <button>{loadMoreButton}</button>
</section>
