---
// COMPONENTS //
import ToolBadge from "@/components/ui/ToolBadge.astro";

// DATA //
import { btsSectionDetails } from "@/data/about/bts";
---

<!-- Bts Section -->
<section id="bts-section" data-section="Bts">
  <!-- Container -->
  <div
    class="container mx-auto flex flex-col items-center justify-center gap-11 px-6 py-28 md:gap-14 lg:gap-16"
  >
    <div class="flex flex-col items-center justify-center gap-3.5 lg:gap-4">
      <!-- Tool Badge -->
      <div class="tool-badge">
        <ToolBadge icon="notepad" text={btsSectionDetails.badgeTitle} />
      </div>

      <!-- Title -->
      <p class="title-text text-n-950 text-center text-3xl font-medium md:text-4xl lg:text-6xl">
        {btsSectionDetails.title}
      </p>
    </div>

    <!-- Bts Wrapper -->
    <div class="bts-images grid w-full gap-4 md:gap-6">
      <!-- Row 1 -->
      <div class="grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 xl:grid-cols-5">
        <!-- Block 1 (Image) -->
        <div
          class="bts-block order-1 h-[180px] overflow-hidden rounded-[20px] md:h-[300px] lg:h-[330px]"
        >
          <img src="/images/about/bts-1.jpg" class="h-full w-full object-cover" />
        </div>

        <!-- Block 2 (Text) -->
        <div class="bts-block order-3 flex h-[180px] items-start p-5 xl:order-2">
          <p class="text-n-950 text-sm leading-tight font-medium md:text-lg">
            Good people build good products.<br /><br />
            Everything else follows.
          </p>
        </div>

        <!-- Block 3 (Spacer) -->
        <div class="bts-block order-5 h-[180px] md:hidden xl:order-3 xl:flex"></div>

        <!-- Block 4 (Image) -->
        <div
          class="bts-block order-2 h-[180px] overflow-hidden rounded-[20px] md:h-[300px] lg:h-[330px] xl:order-4"
        >
          <img src="/images/about/bts-2.jpg" class="h-full w-full object-cover" />
        </div>

        <!-- Block 5 (Image) -->
        <div
          class="bts-block order-4 h-[180px] overflow-hidden rounded-[20px] md:h-[300px] lg:h-[330px] xl:order-5"
        >
          <img src="/images/about/bts-3.jpg" class="h-full w-full object-cover" />
        </div>

        <!-- Block 6 (Image) -->
        <div
          class="bts-block order-6 h-[180px] overflow-hidden rounded-[20px] md:h-[300px] lg:h-[330px] xl:hidden"
        >
          <img src="/images/about/bts-4.jpg" class="h-full w-full object-cover" />
        </div>

        <!-- Block 7 (Image) -->
        <div
          class="bts-block order-6 hidden h-[180px] overflow-hidden rounded-[20px] md:flex md:h-[300px] lg:h-[330px] xl:hidden"
        >
          <img src="/images/about/bts-5.jpg" class="h-full w-full object-cover" />
        </div>
      </div>

      <!-- Row 2 -->
      <div class="grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-6 xl:grid-cols-5">
        <!-- Block 1 (Image) -->
        <div
          class="bts-block order-6 hidden h-[180px] overflow-hidden rounded-[20px] md:hidden md:h-[300px] lg:h-[330px] xl:flex"
        >
          <img src="/images/about/bts-4.jpg" class="h-full w-full object-cover" />
        </div>

        <!-- Block 2 (Image)-->
        <div
          class="bts-block order-7 h-[180px] overflow-hidden rounded-[20px] md:hidden md:h-[300px] lg:h-[330px] xl:order-6 xl:flex"
        >
          <img src="/images/about/bts-5.jpg" class="h-full w-full object-cover" />
        </div>

        <!-- Block 3 (Text)-->
        <div
          class="bts-block order-8 flex h-[180px] items-start p-5 md:order-9 lg:col-span-1 xl:order-9"
        >
          <p class="text-n-950 text-sm leading-tight font-medium md:text-lg">
            We ship with pride.<br />
            And laugh along the way.
          </p>
        </div>

        <!-- Block 4 (Image)-->
        <div
          class="bts-block order-9 h-[180px] overflow-hidden rounded-[20px] md:order-8 md:h-[300px] lg:h-[330px] xl:order-8"
        >
          <img src="/images/about/bts-6.jpg" class="h-full w-full object-cover" />
        </div>

        <!-- Block 5 (Image)-->
        <div
          class="bts-block order-10 h-[180px] overflow-hidden rounded-[20px] md:h-[300px] lg:h-[330px] xl:flex"
        >
          <img src="/images/about/bts-7.jpg" class="h-full w-full object-cover" />
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  import { animateBtsSection } from "@/scripts/about/bts";

  animateBtsSection();
</script>
