---
// COMPONENTS //
import SectionHeader from "@/components/SectionHeader.astro";
import Image from "astro/components/Image.astro";
import { Icon } from "astro-icon/components";

const { icon = "right-arrow" } = Astro.props;

// DATA //
import { clientGalleryImages } from "@/data/case-studies/1";
---

<section>
  <div
    class="container m-auto flex flex-col gap-7 px-6 py-16 md:gap-12 md:py-24 lg:gap-16 lg:py-28"
  >
    <SectionHeader
      badgeIcon="package"
      badgeText="Visual Highlights"
      sectionTitle="Our Journey, Captured In Powerful Frames"
    />

    <!-- Image Slideshow -->
    <div class="case-study-gallery-slider relative flex flex-col gap-3">
      <div
        id="embla-cs-gallery-slider"
        class="overflow-hidden rounded-2xl md:rounded-4xl lg:rounded-[60px]"
      >
        <!-- Embla Slide Container -->
        <div class="flex">
          <!-- Iterating through Data & Embla Slides-->
          {
            clientGalleryImages.map((clientGalleryImageItem) => (
              // TODO: Fix the Alt prop value below //
              <div class="flex-none basis-full">
                <Image
                  class="h-auto w-full rounded-3xl md:rounded-4xl lg:rounded-[60px]"
                  width={700}
                  height={700}
                  src={clientGalleryImageItem.imagePath}
                  alt="Pixolo Client"
                />
              </div>
            ))
          }
        </div>
      </div>

      <!-- ARROWS -->
      <div
        class="right-0 flex justify-end gap-2 px-2 md:absolute md:bottom-5 md:gap-4 md:px-5 lg:gap-5 lg:px-7"
      >
        <!-- Previous Button -->
        <button
          type="button"
          aria-label="Previous image"
          class="prev-btn arrowbtn-fill bg-n-50 flex size-9 items-center justify-center rounded-full hover:cursor-pointer md:size-10 lg:size-16"
        >
          <Icon name={icon} class="size-3 rotate-180 md:size-4 lg:size-6" />
        </button>

        <!-- Next Button -->
        <button
          type="button"
          aria-label="Next image"
          class="next-btn arrowbtn-fill bg-n-50 flex size-9 items-center justify-center rounded-full hover:cursor-pointer md:size-10 lg:size-16"
        >
          <Icon name={icon} class="size-3 md:size-4 lg:size-6" />
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Button Logic -->
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const viewport = document.querySelector("#embla-cs-gallery-slider");

    if (!viewport) {
      return;
    }

    const caseStudyGallerySlider = EmblaCarousel(viewport, { loop: true });
    document.querySelector(".prev-btn").onclick = () => caseStudyGallerySlider.scrollPrev();
    document.querySelector(".next-btn").onclick = () => caseStudyGallerySlider.scrollNext();
  });
</script>

<!-- Slider Arrows Hover Animation -->
<style>
  .arrowbtn-fill {
    position: relative;
    overflow: hidden;
    z-index: 20;
  }

  .arrowbtn-fill::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 0%;
    background: var(--color-n-300);
    transition: height 0.5s ease-in-out;
    z-index: -1;
  }

  .arrowbtn-fill:hover::before {
    height: 100%;
  }
</style>
