---
// COMPONENTS //
import SectionHeader from "@/components/ui/SectionHeader.astro";
import Image from "astro/components/Image.astro";
import NavigationArrows from "@/components/case-studies/NavigationArrows.astro";

// Receive data from the parent page
interface props {
  badgeIcon?: string;
  badgeText: string;
  sectionTitle: string;
  galleryImages: {
    imagePath: string;
    alt: string;
  }[];
}
const { badgeIcon, badgeText, sectionTitle, galleryImages } = Astro.props;
---

{
  galleryImages.length > 0 && (
    // Gallery Section
    <section id="gallery-section">
      <div class="container mx-auto flex flex-col gap-7 px-6 py-16 md:gap-12 md:py-24 lg:gap-16 lg:py-28">
        {/* Section Header */}
        <SectionHeader
          badgeIcon={"service-icon"}
          badgeText={badgeText}
          sectionTitle={sectionTitle}
        />

        {/* Image Slideshow */}
        <div class="case-study-gallery-slider relative flex flex-col gap-3">
          <div
            id="embla-cs-gallery-slider"
            class="overflow-hidden rounded-2xl md:rounded-4xl lg:rounded-[60px]"
          >
            {/* Embla Slide Container */}
            <div class="flex">
              {/* Iterating through Data & Embla Slides*/}
              {galleryImages?.map((galleryImageItem: any) => (
                <div class="gallery-item flex-none basis-full">
                  {/* Image Container */}
                  <div class="h-44 w-full md:h-[350px] lg:h-[460px] xl:h-[600px] 2xl:h-[665px]">
                    <Image
                      src={`${galleryImageItem.imagePath}`}
                      alt={galleryImageItem.alt}
                      class="h-full w-full object-cover"
                      width={1536}
                      height={665}
                      loading="lazy"
                      referrerpolicy="no-referrer"
                    />
                  </div>
                </div>
              ))}
            </div>
          </div>

          {/* Navigation Arrows  */}
          <div class="right-2 md:absolute md:right-5 md:bottom-5 lg:right-6 lg:bottom-7 xl:right-7 xl:bottom-9">
            <NavigationArrows icon={"right-arrow"} />
          </div>
        </div>
      </div>
    </section>
  )
}

<!-- Button Logic -->
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script>
  import { animateGallerySection } from "@/scripts/case-studies";

  animateGallerySection();
</script>
