---
// COMPONENTS //
import SectionHeader from "@/components/SectionHeader.astro";
import KeyTakeaway from "@/components/case-studies/KeyTakeaway.astro";

// DATA //
import { keyTakeaways } from "@/data/case-studies/1";
---

<section>
  <div
    class="container m-auto flex flex-col gap-10 px-6 py-16 md:gap-11 md:py-24 lg:gap-16 lg:py-28"
  >
    <SectionHeader
      sectionTitle="Main Learnings & Highlights"
      badgeIcon="service-icon"
      badgeText="Essential Takeaways"
    />

    <div class="flex w-full flex-col items-center gap-9 lg:gap-20">
      <!-- Iterating through Data -->
      {
        keyTakeaways.map((keyTakeawayItem, keyTakeawayindex) => (
          <KeyTakeaway
            title={keyTakeawayItem.title}
            description={keyTakeawayItem.description}
            index={String(keyTakeawayindex + 1).padStart(2, "0")}
          />
        ))
      }
    </div>
  </div>
</section>
