---
// COMPONENTS //
import SectionHeader from "@/components/SectionHeader.astro";
import ClientProcessTimeline from "@/components/case-studies/ClientProcessTimeline.astro";

// DATA //
import { processSteps } from "@/data/case-studies/1";
---

<!-- Our Process Section -->
<section>
  <div class="container m-auto flex flex-col gap-12 px-6 py-24">
    <!-- Section Header -->
    <SectionHeader
      sectionTitle="Creating Human-Centered Experiences"
      badgeIcon="package"
      badgeText="Crafting The Journey"
    />

    <!-- Main Contetnt -->
    <div class="flex flex-col items-center gap-6">
      <p class="text-n-800 text-center text-lg md:text-xl">Our Process</p>

      <ClientProcessTimeline height={300} stepCount={processSteps.length} />
    </div>
  </div>
</section>


