---
// COMPONENTS //
import ClientSolution from "@/components/case-studies/ClientSolution.astro";
import SectionHeader from "@/components/ui/SectionHeader.astro";

// Receiving data from the parent page
const { data } = Astro.props;
---

<section>
  <div
    class="container mx-auto flex flex-col gap-10 px-6 pt-16 pb-14 md:gap-12 md:pt-28 md:pb-20 lg:gap-16 lg:pt-36 lg:pb-28"
  >
    <!-- Toolbadge & Page Title -->
    <SectionHeader
      sectionTitle="Smart, precise solutions for every challenge"
      badgeIcon="package"
      badgeText="Our Solutions"
    />

    <!-- Solution Cards -->
    <div class="flex flex-col gap-3 md:gap-4 lg:grid lg:grid-cols-2 lg:gap-9">
      {
        data.clientSolutions?.map((clientSolutionItem: any, clientSolutionIndex: number) => (
          <ClientSolution
            title={clientSolutionItem.title}
            description={clientSolutionItem.description}
            index={String(clientSolutionIndex + 1).padStart(2, "0")}
          />
        ))
      }
    </div>
  </div>
</section>
