---
//COMPONENTS
import ArticleCard from "@/components/ArticleCard.astro";
---

<div class="flex justify-center">
  <ArticleCard
    thumbnail="./images/portfolio/default-project.jpg"
    brandName="reliance"
    chipItems={["Product Design", "App Development", "Dashboard Design"]}
    title="E-commerce Platform for Local Brands"
    subtitle="Built a scalable e-commerce solution empowering small businesses to sell online with zero code setup."
    ctaText="View Case Study"
  />
</div>
