---
// Components //
import ProjectCard from "@/components/portfolio-showcase/ProjectCard.astro";
---

<div class="flex flex-col items-center justify-center gap-4 px-10">
  <ProjectCard
    projectName={"default-project"}
    image={"default-showcase-project-image"}
    mainTitle={"Sai International School"}
    title={"A Fintech Project"}
    subtitle={"Sai International School is known for its strong academic foundation, modern learning environment, and a holistic approach that blends education, values, and real-world skills."}
    date={"July 2024"}
    badgeItems={["Website", "Mobile App", "Laptop"]}
    ctaText1={"View Website"}
    ctaText2={"Show Project"}
  />
</div>
