---
// OTHERS //
import Layout from "../layouts/Layout.astro";

// SECTIONS //
import Clients from "../sections/home/Clients.astro";
import Service from "../sections/home/Service.astro";
import TechInteractive from "../sections/home/TechInteractive.astro";
---

<Layout>
  <div>
    <!-- Background Star Video -->
    <video
      class="fixed top-0 left-0 w-full h-full object-cover bg-transparent -z-10"
      src="/videos/stars.mp4"
      autoplay
      muted
      loop
      playsinline></video>

    <!-- Background Circle Gradient -->
    <div
      class="fixed top-[30%] w-[885px] h-[885px] rounded-full left-1/2 -translate-x-1/2"
      style="background: linear-gradient(90deg, rgba(22, 125, 229, 0.36) 0%, rgba(95, 74, 200, 0.36) 92.31%);
filter: blur(250px);"
    >
    </div>

    <!-- Start adding sections from below  -->
    <div class="relative z-10">
      <Clients />
      <Service />
      <TechInteractive />
    </div>
  </div>
</Layout>
