---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-n-950">
	<!-- Background Star Image -->
    <img
      class="absolute top-0 left-0 w-full h-full"
      src="/background-star.png"
    />

	<!-- Background Circle Gradient -->
    <div
      class="fixed top-[30%] w-[885px] h-[885px] rounded-full left-1/2 -translate-x-1/2"
      style="background: linear-gradient(90deg, rgba(22, 125, 229, 0.36) 0%, rgba(95, 74, 200, 0.36) 92.31%);
filter: blur(250px);"
    />
  </div>

  <!-- Start adding sections from below  -->
   <p class="font-bold">Hello</p>

</Layout>
