---
// OTHERS //
import Layout from "@/layouts/Layout.astro";

// SECTIONS //
import Clients from "../sections/home/Clients.astro";
import Retainership from "../sections/home/Retainership.astro";
import Service from "../sections/home/Service.astro";
---

<Layout>
  <div>
    <!-- Background Star Video -->
    <video
      class="fixed top-0 left-0 -z-10 h-full w-full bg-transparent object-cover"
      src="/videos/stars.mp4"
      autoplay
      muted
      loop
      playsinline></video>

    <!-- Background Circle Gradient -->
    <div
      class="fixed top-[30%] left-1/2 h-[885px] w-[885px] -translate-x-1/2 rounded-full"
      style="background: linear-gradient(90deg, rgba(22, 125, 229, 0.36) 0%, rgba(95, 74, 200, 0.36) 92.31%);
filter: blur(250px);"
    >
    </div>

    <!-- Start adding sections from below  -->
    <div class="relative z-10">
      <Clients />
      <Service />
      <Retainership />
    </div>
  </div>
</Layout>
