---
    const { badgeText } = Astro.props;
---

<!-- Tool Badge For Service-->
<div class="rounded-3xl border border-n-800 py-2.5 px-4">
    <!-- Badge Text -->
    <p class="text-xs md:text-base lg:text-lg leading-tight text-n-950">
        { badgeText }
    </p>
</div>