---
// COMPONENTS //
import { Icon } from "astro-icon/components";

const { ctaText, svgName } = Astro.props;
---

<div>
  <!-- CTA  -->
  <div
    class="text-n-950 bg-n-800/20 flex w-fit items-center justify-center gap-3 rounded-4xl py-2 pr-2 pl-7"
  >
    <!-- CTA Text -->
    <p class="text-lg font-medium">{ctaText}</p>

    <!-- Icon -->
    <div class="bg-n-950 flex h-12 w-12 items-center justify-center rounded-full">
      <Icon name={svgName} />
    </div>
  </div>
</div>
