---
// OTHERS //
import RoundedButton from "./RoundedButton.astro";

const shortName = "Pixolo";
const logoPath = "/icons/pixolo-logo.svg";
const expandIconPath = "/icons/expand-icon.svg";
---

<form>
  <!-- Title Bar -->

  <div>
    <!-- 3 Buttons -->
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Form Container -->
  <div>
    <!-- Input Wrapper -->
    <div>
      <!-- Email To  -->
      <div>
        <label for="emailTo">To</label>
        <div>
          <img src={logoPath} alt="Pixolo Logo" id="emailTo" />
          <p>{shortName}</p>
        </div>
      </div>

      <!-- Email From -->
      <div>
        <label for="emailFrom">From</label>
        <input
          type="email"
          name="emailFrom"
          placeholder="your@email.com"
          id="emailFrom"
        />
      </div>

      <!-- Phone Number -->
      <div>
        <label for="phoneNo">Phone No</label>
        <input
          type="text"
          name="emailFrom"
          placeholder="your phone number"
          id="phoneNo"
        />
      </div>

      <!-- Subjects Dropdown  -->
      <div>
        <label for="subject">Subject</label>
        <select name="subject" id="subject">
          <option value="mobileAppDevelopment">Mobile App Development</option>
          <option value="webDevelopment">MWeb Development</option>
          <option value="projectPlanning">Project Planning</option>
          <option value="uxDesign">UX Design</option>
        </select>
      </div>

      <!-- Additional Note -->
      <div>
        <textarea
          name="additionalNote"
          placeholder="Say something about your project..."></textarea>
        <img src={expandIconPath} alt="Expand Icon" />
      </div>
    </div>

    <!-- SendMessage Button -->
    <RoundedButton buttonText="Send Message" />
  </div>
</form>
