---
// OTHERS //
import Chip from "./Chip.astro";
import Dropdown from "./Dropdown.astro";
import InputField from "./InputField.astro";
import RoundedButton from "./RoundedButton.astro";
import TextArea from "./TextArea.astro";

const subjectOptions = [
  "Mobile App Development",
  "Web Development",
  "Project Planning",
  "UX Design",
];
---

<form
  class="flex flex-col rounded-3xl bg-n-50 border-n-400 border w-fit overflow-hidden"
>
  <!-- Title Bar -->
  <div class="flex gap-2 py-3 px-6 bg-n-400">
    <!-- 3 Buttons -->
    <div class="w-4 h-4 bg-[#C45E52] rounded-full"></div>
    <div class="w-4 h-4 bg-[#CAA144] rounded-full"></div>
    <div class="w-4 h-4 bg-n-500 rounded-full"></div>
  </div>

  <!-- Form Container -->
  <div class="flex flex-col p-5 gap-5 items-center">
    <!-- Input Wrapper -->
    <div class="flex flex-col gap-5">
      <!-- Email To  -->
      <div class="flex gap-4 w-full relative">
        <InputField
          label="To"
          name="emailTo"
          id="emailTo"
          type="text"
          showInput={false}
        />
        <div class="absolute left-10 bottom-2">
          <Chip iconName="pixolo-logo" text="Pixolo" />
        </div>
      </div>

      <!-- Email From -->
      <InputField
        label="From"
        type="email"
        name="emailFrom"
        placeholder="your@email.com"
        id="emailFrom"
        required={true}
      />

      <!-- Phone Number -->
      <InputField
        label="Phone No"
        type="tel"
        name="phoneNo"
        placeholder="your phone number"
        id="phoneNo"
        required={true}
      />

      <!-- Subjects Dropdown  -->
      <Dropdown
        label="Subject"
        name="Subject"
        id="Subject"
        options={subjectOptions}
      />

      <!-- Additional Note -->
      <TextArea
        iconName="expand-icon"
        placeholder="Say something about your project..."
        name="additionalNote"
        id="additionalNote"
      />
    </div>
    <!-- SendMessage Button -->
    <div class="self-end">
      <RoundedButton buttonText="Send Message" />
    </div>
  </div>
</form>
