---
// COMPONENTS //
import { Icon } from "astro-icon/components";

const { question, answer, isOpen = false } = Astro.props;
---

<div
  class={`group faq-item text-n-700 cursor-pointer border-n-700 border-b-[0.8px] px-2 py-8 md:py-12 lg:px-2.5 lg:py-14`}
  data-faq-accordion
  data-open={isOpen}
>
  <div class="flex w-full flex-col">
    <button
      type="button"
      class="flex cursor-pointer items-center justify-between gap-3.5 md:gap-11 lg:gap-12"
      data-accordion-trigger
      aria-expanded={isOpen ? "true" : "false"}
    >
      <!-- Question -->
      <p
        class="text-n-950 flex-1 text-left text-base leading-tight font-normal transition-transform duration-300 group-hover:scale-105 md:text-2xl lg:text-3xl"
      >
        {question}
      </p>

      <!-- Plus Icon -->
      <Icon
        name="plus"
        class={`text-n-950 size-3.5 cursor-pointer transition-transform duration-300 md:size-5 lg:size-6 group-hover:scale-105 ${isOpen ? "rotate-45" : ""}`}
        data-accordion-plus
      />
    </button>

    <!-- Answer Block -->
    <div
      class="text-n-700 overflow-hidden text-left text-sm transition-[height] duration-300 ease-in-out md:text-lg lg:text-xl"
      data-accordion-answer
    >
      <!-- Answer -->
      <p class="pt-8">{answer}</p>
    </div>
  </div>
</div>
