---
// COMPONENTS //
import { Icon } from "astro-icon/components";

// OTHERS //
import ToolBadge from "./ToolBadge.astro";
import BottomCTA from "./BottomCTA.astro";

export interface props {
  toolBadgeText?: string;
  iconName?: string;
  message?: string;
}
const { toolBadgeText = "", iconName = "", message = "" } = Astro.props;
---

<!-- Container -->
<div>
  <!-- Tool Badge -->
  <ToolBadge text={toolBadgeText} />
  <!-- Logo with text only and message -->
  <div>
    <Icon name={iconName} />
    <p>{message}</p>
  </div>
  <!-- Bottom CTA -->
  <BottomCTA />
</div>
