---

---

<!-- Navbar content -->
 
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/software">Software</a></li>
    <li><a href="/iot">IOT</a></li>
    <li><a href="/tutorials">Tutorials</a></li>
  </ul>
</nav>
