---
import RoundedButton from "./RoundedButton.astro";
import { Icon } from "astro-icon/components";

interface MenuItem {
  name: string;
  url: string;
}

const items: MenuItem[] = [
  { name: "Home", url: "/" },
  { name: "About", url: "/about" },
  { name: "Careers", url: "/careers" },
  { name: "Portfolio", url: "/portfolio" },
];

const variant = "default";
const currentPath = Astro.url.pathname;
---

<section
  class="absolute top-0 left-0 bg-n-50 z-99 h-screen w-full flex flex-col py-5 px-6 md:hidden"
>
  <!-- Logo at top -->
  <div class="flex justify-between items-center">
    <a href="/">
      <img src={`/brand-logo/${variant}.png`} alt="Brand Logo" />
    </a>
    <!-- Close Icon -->
    <div class="flex justify-center items-center size-14 bg-n-100 rounded-full">
      <Icon name="close" />
    </div>
  </div>

  <!-- Menu items vertically centered -->
  <div class="flex flex-col flex-1 pt-28 gap-6 leading-tight">
    {
      items.map((item) => {
        const isActive = currentPath === item.url;
        return (
          <a
            href={item.url}
            class={`font-normal text-4xl transition-colors ${
              isActive ? "text-n-950" : "text-n-500"
            }`}
          >
            {item.name}
          </a>
        );
      })
    }
  </div>

  <!-- Bottom fixed buttons -->
  <div class="justify-center px-7 py-4 flex flex-row gap-2.5">
    <RoundedButton buttonText="Call" />
    <RoundedButton buttonText="Whatsapp" />
  </div>
</section>
