---
// OTHERS //
import BrandLogo from "./BrandLogo.astro";
import MenuBar from "./MenuBar.astro";
import RoundedButton from "./RoundedButton.astro";

// DATA //
import { MENU } from "@/data/menu";
---

<!-- Navbar Display -->
<header class="flex justify-between items-center px-3 relative z-10">
  <BrandLogo />
  <div class="hidden md:block">
    <MenuBar items={MENU} />
  </div>
  <div class="hidden md:block">
    <RoundedButton buttonText="Contact Us" />
  </div>
</header>
