---

// OTHERS //
import BrandLogo from "./BrandLogo.astro";
import MenuBar from "./MenuBar.astro";
import MobileMenu from "./MobileMenu.astro";
import RoundedButton from "./RoundedButton.astro";

const menuItems = [
  { name: "Home", url: "/", isActive: true },
  { name: "About", url: "/about" },
  { name: "Careers", url: "/careers" },
  { name: "Portfolio", url: "/portfolio" },
];

---

<!-- Navbar Display -->
<header class="flex justify-between items-center px-3 relative z-10">
  <MobileMenu></MobileMenu>
    <BrandLogo/>
    <div class="hidden md:block">
    <MenuBar items={menuItems}/>
    </div>
    <div class="hidden md:block">
      <RoundedButton
        buttonText="Contact Us"
    />
    </div>
</header>