---
import { Icon } from "astro-icon/components";

const { icon = "right-arrow" } = Astro.props;
---

<!-- ARROWS -->
<div
  class="right-0 flex justify-end gap-2 px-2 md:absolute md:bottom-5 md:gap-4 md:px-5 lg:bottom-9 lg:gap-5 lg:px-7"
>
  <!-- Previous Button -->
  <button
    type="button"
    aria-label="Previous image"
    class="prev-btn arrowbtn-fill bg-n-50 flex size-9 items-center justify-center rounded-full hover:cursor-pointer md:size-10 lg:size-16"
  >
    <Icon name={icon} class="size-3 rotate-180 md:size-4 lg:size-6" />
  </button>

  <!-- Next Button -->
  <button
    type="button"
    aria-label="Next image"
    class="next-btn arrowbtn-fill bg-n-50 flex size-9 items-center justify-center rounded-full hover:cursor-pointer md:size-10 lg:size-16"
  >
    <Icon name={icon} class="size-3 md:size-4 lg:size-6" />
  </button>
</div>

<!-- Slider Arrows Hover Animation -->
<style>
  .arrowbtn-fill {
    position: relative;
    overflow: hidden;
    z-index: 20;
  }

  .arrowbtn-fill::before {
    content: "";
    position: absolute;
    inset: 0;
    height: 0%;
    background: var(--color-n-300);
    transition: height 0.5s ease-in-out;
    z-index: -1;
  }

  .arrowbtn-fill:hover::before {
    height: 100%;
  }
</style>
