---
export interface props {
  cardNo: string;
  cardTitle: string;
  cardMessage: string;
}
const {
  cardNo = "1",
  cardTitle = "Designer",
  cardMessage = "We provide the best of the best designer. We would love to share you more details.",
} = Astro.props;
---

<div
  class="bg-n-100 flex flex-col justify-between py-14 pr-14 pl-6 rounded-4xl w-full h-[311px] md:h-[380px] lg:max-h-[428px]">
  <!-- Card Header -->
  <div class="flex flex-col gap-2">
    <!-- Card Number -->
    <p class="font-medium text-3xl leading-tight tracking-[-7%] text-n-950 md:text-4xl">
      {cardNo}
    </p>
    <!-- Card Title -->
    <p class="font-medium text-3xl leading-tight text-n-950 md:text-4xl">{cardTitle}</p>
  </div>
  <!-- Card message -->
  <p class="text-sm leading-tight text-n-700 font-normal md:text-base">{cardMessage}</p>
</div>
