---
// STYLES //
import "../styles/global.css";

// COMPONENTS //
import { Icon } from "astro-icon/components";

const { buttonText, leftIcon, rightIcon } = Astro.props;
---

<!-- Rounded Button -->
<button
  class="text-n-100 bg-n-950 flex cursor-pointer gap-1 rounded-4xl px-5 py-3 md:gap-1.5 md:px-6 md:py-3.5 lg:gap-2 lg:px-7 lg:py-4"
>
  <!--Left icon of Rounded Button  -->
  {leftIcon && <Icon name={leftIcon} />}

  <!-- Rounded Button Text -->
  <p class="text-sm font-medium">
    {buttonText}
  </p>

  <!-- Right Icon Of Rounded Button -->
  {rightIcon && <Icon name={rightIcon} />}
</button>
