---
// COMPONENTS //
import { Icon } from "astro-icon/components";

export interface props {
  iconName?: string;
  headerText: string;
}
const { iconName = "logo-only", headerText = "" } = Astro.props;
---

<div>
  <Icon name={iconName} />
  <p>
    {headerText}
  </p>
</div>
