---
// OTHERS //
import Badge from "./Badge.astro";

    const {
    imageName= "service-image.png",
    title= "Design",
    tags= ["Website", "Mobile", "UI", "App"]
    } = Astro.props
---

<!-- Service Item -->
<div>

    <!-- Service Image -->
     <div>
        <img src= {`/icons/${imageName}`} alt= {title}>
    </div>

    <!-- Content -->
    <div>

        <!-- Title -->
        <p>
            {title}
        </p>

        <!-- Tool Badges -->
        <div>

            <!-- Iterating Over A String Array - tags -->
            {tags.map((tag)=>(
                <Badge badgeText = {tag} />
            ))}
        </div>

    </div>
</div>