---
// OTHERS //
import Badge from "./Badge.astro";
import { Image } from "astro:assets";

interface Props {
  imageName: string;
  title: string;
  tags: string[];
}

const {
  imageName = "/images/services/product-planning.jpg",
  title = "Design",
  tags = ["Website", "Mobile", "UI", "App"],
} = Astro.props as Props;
---

<!-- Service Item -->
<div class="flex w-full cursor-pointer flex-col gap-4 md:gap-6 lg:gap-7 2xl:max-w-[500px]">
  <!-- Service Image -->
  <div class="border-n-300 h-[400px] w-full overflow-hidden rounded-4xl border md:h-[450px]">
    <Image
      src={imageName}
      alt={title}
      width={490}
      height={450}
      class="h-full w-full object-cover transition-transform duration-500 ease-in-out hover:scale-[1.3]"
      loading="lazy"
      decoding="async"
    />
  </div>

  <!-- Content -->
  <div class="anim-fade-in-up flex flex-col gap-3 transition-all duration-300 md:gap-4 lg:gap-6">
    <!-- Title -->
    <p class="text-n-950 text-2xl leading-tight font-normal md:text-4xl lg:text-5xl">
      {title}
    </p>

    <!-- Tool Badges -->
    <div class="flex flex-wrap gap-2.5">
      <!-- Iterating Over A String Array - tags -->
      {tags.map((tag) => <Badge badgeText={tag} />)}
    </div>
  </div>
</div>
