---

---

<!-- Tab component -->
<div>
  <!-- Tab-1 -->
  <div>
    <p>Sports</p>
  </div>
  <!-- Tab-2 -->
  <div>
    <p>Finance</p>
  </div>
  <!-- Tab-3 -->
  <div>
    <p>Digital</p>
  </div>
  <!-- Tab-4 -->
  <div>
    <p>Hybrid</p>
  </div>
  <!-- Tab-5 -->
  <div>
    <p>Augmented Reality</p>
  </div>
</div>
