---
interface Props {
  tabItems: {
    id: number;
    name: string;
    isActive: boolean;
  }[];
}

const { tabItems } = Astro.props;
---

<!-- Tab component -->
<div>
  {
    tabItems.map((tabItem) => {
      return (
        <button>
          <p>{tabItem.name}</p>
        </button>
      );
    })
  }
</div>
