---
import { Icon } from "astro-icon/components";

interface Props {
  poster: string;
  name: string;
  role: string;
}

const { poster, name, role } = Astro.props as Props;
---

<div class="flex w-full flex-col gap-4">
  <!-- Media / Video wrapper -->
  <div class="relative h-[220px] w-full overflow-hidden rounded-3xl">
    <!-- Video preview -->
    <video poster={poster} preload="metadata" class="h-full w-full object-cover"></video>

    <!-- Play button -->
    <button
      type="button"
      aria-label="Play video"
      class="bg-n-800 absolute right-3 bottom-3 flex size-12 items-center justify-center rounded-full"
    >
      <Icon name="whatsapp-logo" class="text-n-50 size-4" />
    </button>
  </div>

  <!-- Name & role -->
  <div class="flex flex-col gap-1">
    <p class="text-n-950 text-lg leading-[125%] font-medium">
      {name}
    </p>
    <p class="text-n-700 text-sm leading-[125%] font-normal">
      {role}
    </p>
  </div>
</div>
