---
// COMPONENTS //
import { Icon } from "astro-icon/components";

export interface Props {
  name: string;
  id: string;
  placeholder?: string;
  required?: boolean;
  showPlaceholder?: boolean;
  iconName: string;
}
const {
  iconName,
  placeholder = "",
  name = "",
  id = "",
  required = false,
  showPlaceholder = true,
} = Astro.props;
---

<!-- Container for textarea and icon -->
<div
  class="flex flex-col gap-11 pb-2 border-b border-n-300 focus-within:border-n-900 w-full"
>
  <!-- Textarea and Icon -->
  <textarea
    name={name}
    placeholder={showPlaceholder ? placeholder : undefined}
    id={id}
    required={required}
    class="focus:border-none outline-none placeholder-n-600 resize-none placeholder:text-sm placeholder:font-normal text-sm"
  ></textarea>
  <Icon name={iconName} class="self-end" />
</div>
