---
// COMPONENTS //
import { Icon } from "astro-icon/components";

const {
  iconName,
  placeholder = "",
  name = "",
  id = "",
  required,
  showPlaceholder = true,
} = Astro.props;
---

<!-- Container for textarea and icon -->
<div class="flex flex-col gap-11 pb-2 border-b border-n-300 w-full">
  <!-- Textarea and Icon -->
  <textarea
    name={name}
    placeholder={showPlaceholder ? placeholder : undefined}
    id={id}
    required={required}
    class="focus:border-none outline-none"></textarea>
  <Icon name={iconName} class="self-end" />
</div>
