---

---

<!-- Tool Badge -->
<div class="flex bg-n-200 w-fit h-fit rounded-3xl pt-1 pr-4 pb-1 pl-1 gap-2 sm:gap-3 md:gap-4 lg:gap-5 m-5">

    <!-- Blue Circle with Logo -->
    <div class="bg-blue-500 rounded-3xl p-2">
        <img src="/icons/building.svg" alt="Logo"> 
    </div>

    <!-- Motto -->
    <p class="text-n-900 text-xs font-bold pt-1.5 text-center">Powering Ideas into Impact</p>
    
</div>