---
const { icon = "building.svg", text = "Powering Ideas into Impact" } =
  Astro.props;
---

<!-- Tool Badge -->
<div
  class="flex bg-n-900 w-fit h-fit rounded-3xl pt-1.5 pr-4 pb-1.5 pl-1.5 gap-2.5 sm:gap-2.5 md:gap-3 lg:gap-4 lg:rounded-4xl lg:pr-5">
  <!-- Blue Circle with Logo -->
  <div class="bg-blue-500 rounded-3xl p-2 md:gap-2.5">
    <img src={`/icons/${icon}`} alt="Logo" class="size-3 md:size-4 lg:size-6" />
  </div>

  <!-- Motto -->
  <p
    class="text-n-200 text-xs font-semibold text-center self-center md:text-base lg:text-lg">
    {text}
  </p>
</div>
