---
// COMPONENTS //
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---

<!-- Whatsapp Button -->
<a
  href={href}
  class="group w-fit flex justify-center items-center rounded-full min-w-12 h-12 p-2 md:min-w-16 md:h-16 md:p-4 lg:min-w-20 lg:h-20 lg:p-6 hover:px-4 hover:md:px-6 hover:lg:px-8 bg-n-800/20 absolute transition-all duration-800 cursor-pointer
  border border-n-950"
>
  <!-- Whatsapp Icon -->
  <Icon name="whatsapp-logo" class="size-8" />

  <!-- Button Text -->
  <div
    class="whitespace-nowrap overflow-hidden opacity-0 max-w-0 group-hover:flex flex-col w-fit group-hover:ml-2.5 gap-0.5 transition-all duration-800 ease-in-out group-hover:max-w-[250px] group-hover:opacity-100"
  >
    <p class="text-lg font-medium text-n-950 leading-[22px]">Whatsapp</p>
    <p class="text-xs font-medium text-n-950">Let's Connect</p>
  </div>
</a>
