---
---

<!-- Whatsapp Button -->
<div class="flex">

    <!-- Default Whatsapp Button -->
    <div class="rounded-[61px] p-6 gap-2.5 bg-n-800/20 w-fit h-fit pt-[23px] pl-[20px]">
        <img src="/icons/whatsapp-logo.svg" alt="Whatsapp Logo" class="w-fit h-fit">
    </div>

    <!-- Whatsapp Button After It Is Hovered -->
    <div class=" flex w-fit h-fit rounded-[61px] py-6 px-8 gap-2.5 bg-n-800/20 pt-[20px] pl-[123px]">

        <!-- Whatsapp Icon -->
        <img src="/icons/whatsapp-logo.svg" alt="Whatsapp Logo" class="w-fit h-fit">

        <!-- Button Text -->
        <div class="flex flex-col w-fit h-fit gap-0.5">
            <p class="text-lg font-medium leading-none n-950">
                Whatsapp
            </p>
            <p class="text-xs font-medium leading-none n-950">
                Let's Connect
            </p>
        </div>
    </div>

</div>