---
---

<!-- Whatsapp Button -->
<div class=" flex justify-center items-center w-fit rounded-[61px] p-6 md:py-6 md:px-8 gap-2.5 bg-n-800/20">

    <!-- Whatsapp Icon -->
    <img src="/icons/whatsapp-logo.svg" alt="Whatsapp Logo" class="size-8">

    <!-- Button Text -->
    <div class="hidden md:flex flex-col w-fit h-fit gap-0.5">
        <p class="text-lg font-medium text-n-950 leading-[22px]">
            Whatsapp
        </p>
        <p class="text-xs font-medium text-n-950">
            Let's Connect
        </p>
    </div>
</div>
