---
// TYPES //
import type { ComparisonBlockData } from "@/types/blogs";

interface Props {
  block: ComparisonBlockData;
}

const { block } = Astro.props as Props;
---

<table
  class="bg-n-50 outline-n-300 w-full max-w-[270px] rounded-2xl outline-[0.7px] md:max-w-[560px] lg:max-w-full"
>
  <thead>
    <tr>
      {
        block.headers.map((header, listItem) => (
          <th
            class={`bg-n-100 text-n-700 p-3 text-center text-sm font-medium md:p-5 md:text-lg lg:p-5 lg:text-xl ${
              listItem === 0 ? "rounded-tl-2xl" : ""
            } ${listItem === block.headers.length - 1 ? "rounded-tr-2xl " : ""}`}
          >
            {header}
          </th>
        ))
      }
    </tr>
  </thead>
  <tbody>
    {
      block.rows.map((row) => (
        <tr>
          {row.map((cell) => (
            <td class="text-n-700 px-1.5 py-4 text-center text-xs font-medium md:p-5 md:text-base lg:py-5 lg:text-lg">
              {cell}
            </td>
          ))}
        </tr>
      ))
    }
  </tbody>
</table>
