---
// TYPES //
import type { ListBlockData } from "@/types/blogs";

interface Props {
  block: ListBlockData;
}

const { block } = Astro.props as Props;
---

{
  block.listType === "unordered" ? (
    <div class="flex flex-col gap-3.5">
      {/* List Header */}
      {block.header && (
        <h2 class="text-n-950 max-w-[270px] text-2xl leading-normal md:max-w-[560px] md:text-3xl lg:text-4xl">
          {block.header}
        </h2>
      )}
      <ul class="flex max-w-[270px] flex-col gap-2.5 pl-8 md:max-w-[560px]">
        {/* Mapping out List Pointers */}
        {block.items.map((item) => (
          <li class="flex items-center gap-3.5 md:gap-5 lg:gap-6">
            <div class="bg-n-700 h-1.5 w-1.5 shrink-0 rounded-full" />
            <div class="text-n-700 flex-1 text-xs leading-normal md:text-lg lg:text-xl">{item}</div>
          </li>
        ))}
      </ul>
    </div>
  ) : (
    <div class="flex flex-col gap-3.5">
      {/* List Header */}
      {block.header && (
        <h2 class="text-n-950 text-2xl leading-normal md:text-3xl lg:text-4xl">{block.header}</h2>
      )}
      <ol class="flex list-decimal flex-col gap-2.5 pl-8">
        {/* Iterating List Pointers */}
        {block.items.map((item) => (
          <li class="text-n-700 text-xs leading-normal md:text-lg lg:text-xl">{item}</li>
        ))}
      </ol>
    </div>
  )
}
