---
// COMPONENTS //
import ToolCard from "@/components/case-studies/ToolCard.astro";

interface props {
  toolItems: {
    logo: string;
    title: string;
    description: string;
  }[];
}

const { toolItems } = Astro.props as props;
---

{
  toolItems.length > 0 && (
    <section id="tools-used-section">
      <div class="container mx-auto flex flex-col gap-10 px-6 py-16 md:gap-14 lg:gap-16">
        {/* Title */}
        <p class="header-text text-center text-2xl capitalize md:text-3xl lg:text-4xl">
          {"The project relied on key tools to deliver effective results"}
        </p>

        {/* Iterating through Data */}
        <div class="tool-items flex flex-col gap-4 md:gap-9 lg:grid lg:grid-cols-2">
          {toolItems?.map((toolItem) => (
            <ToolCard
              logo={toolItem.logo}
              title={toolItem.title}
              description={toolItem.description}
            />
          ))}
        </div>
      </div>
    </section>
  )
}

<script>
  import { animateToolsUsedSection } from "@/scripts/case-studies";

  animateToolsUsedSection();
</script>
