---
import { Icon } from "astro-icon/components";
---

<!-- Project Card -->
<div class="flex flex-col gap-4">
  <!-- Logo Container -->
  <div class="border-n-500 bg-n-100 flex items-center justify-center rounded-4xl border p-20">
    <img src="/images/industries/industry-project-card-logo.png" />
  </div>
  <!--Text-Icon-->
  <div class="flex flex-row justify-around gap-9">
    <!-- Card Text-->
    <div>
      <p class="text-xl leading-[1.25] font-medium tracking-tighter">Football Club Barcelona</p>
    </div>
    <!-- Next Arrow-->
    <div>
      <Icon name="right-arrow" />
    </div>
  </div>
</div>
