---
import { Icon } from "astro-icon/components";
---

<!-- Project Card -->
<div>
  <!-- Logo Container -->
  <div>
    <img src="/images/industries/industry-project-card-logo.png" />
  </div>
  <!--Text-Icon-->
  <div>
    <!-- Card Text-->
    <div>
      <p>Football Club Barcelona</p>
    </div>
    <!-- Next Arrow-->
    <div>
      <Icon name="right-arrow" />
    </div>
  </div>
</div>
