---
import { Icon } from "astro-icon/components";
---

<!-- Main div -->
<div>
  <!-- LOGO -->
  <div>
    <img src="/images/industries/Industries-Logo.png" />
  </div>
  <!--Text Div-->
  <div>
    <!-- Card Text -->
    <div>
      <p>Football Club Barcelona</p>
    </div>
    <!-- Next Arrow-->
    <div>
      <Icon name="right-arrow" />
    </div>
  </div>
</div>
