---
import { Icon } from "astro-icon/components";
---

<!-- Main div -->
<div class="flex flex-col gap-4">
  <!-- LOGO -->
  <div class="border-n-500 bg-n-100 flex items-center justify-center rounded-4xl border p-20">
    <img src="/images/industries/Industries-Logo.png" />
  </div>
  <!--Text Div-->
  <div class="flex flex-row justify-between">
    <!-- Card Text -->
    <div>
      <p>Football Club Barcelona</p>
    </div>
    <!-- Next Arrow-->
    <div>
      <Icon name="right-arrow" />
    </div>
  </div>
</div>
