---
// COMPONENTS //
import { Icon } from "astro-icon/components";

interface props {
  image: string;
  name: string;
  websiteLink: string;
}

const { image, name, websiteLink } = Astro.props as props;
---

<!-- Industry Project Card -->
<a href={websiteLink} class="flex w-full flex-col gap-3 md:gap-4 lg:max-w-[480px]">
  <!-- Project Image -->
  <div
    class="border-n-500 hover:bg-n-100 flex justify-center rounded-4xl border p-20 lg:px-36 lg:py-28"
  >
    <!-- Brand Project image -->
    <img src={image} alt={name} class="w-full" />
  </div>

  <div class="flex items-center justify-between">
    {/* Project Name */}
    <p class="text-n-950 text-xl leading-tight font-medium tracking-tight lg:text-2xl">
      {name}
    </p>

    {/* Right arrow */}
    <Icon name="right-arrow" class="text-n-950 size-6 md:size-7" />
  </div>
</a>
