---
// STYLES //
import "@/styles/global.css";

// COMPONENTS //
import Navbar from "@/components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />
    <link rel="icon" href="/favicon-light.png" media="(prefers-color-scheme: light)" />
    <!-- Favicon for dark mode -->
    <link rel="icon" href="/favicon-dark.png" media="(prefers-color-scheme: dark)" />
    <meta name="generator" content={Astro.generator} />
    <title>Pixolo Technologies</title>
    <!-- Sitemap & Robots -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="robots" href="/robots.txt" />
  </head>
  <body>
    <!-- Top menu -->
    <div class="fixed top-3 left-0 z-50 w-full">
      <Navbar />
    </div>

    <!-- Background Star Video -->
    <video
      class="fixed top-0 left-0 -z-10 h-full w-full bg-transparent object-cover"
      src="/videos/stars.mp4"
      autoplay
      muted
      loop
      playsinline></video>

    <!-- Background Circle Gradient -->
    <div
      class="fixed top-[30%] left-1/2 h-[885px] w-[885px] -translate-x-1/2 rounded-full"
      style="background: linear-gradient(90deg, rgba(22, 125, 229, 0.36) 0%, rgba(95, 74, 200, 0.36) 92.31%); filter: blur(250px);"
    >
    </div>

    <!-- Page content -->
    <main class="relative z-10">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // Select all elements that should animate when visible
    const animatedElements = document.querySelectorAll(
      ".anim-fade-up-quick, .anim-fade-in-up, .anim-fade-in-right",
    );

    // Create a new Intersection Observer to detect when elements appear in the viewport
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          // Check if the element is currently visible in the viewport
          if (entry.isIntersecting) {
            // Add the visible class to trigger CSS animation
            entry.target.classList.add("anim-visible");

            // Stop observing the element after animation triggers once
            observer.unobserve(entry.target);
          }
        });
      },

      // Trigger the animation when 20% of the element is visible
      { threshold: 0.18 },
    );

    // Observe each selected element
    animatedElements.forEach((el) => observer.observe(el));
  });
</script>
