---
const { badgeText } = Astro.props;
---

<!-- Tool Badge For Service-->
<div class="border-n-800 rounded-3xl border px-4 py-2.5">
  <!-- Badge Text -->
  <p class="text-n-950 text-xs leading-tight md:text-sm">
    {badgeText}
  </p>
</div>
