---
// OTHERS //
import ToolBadge from "@/components/ui/ToolBadge.astro";

interface Props {
  sectionTitle: string;
  badgeIcon: string;
  badgeText: string;
}

const { sectionTitle, badgeIcon, badgeText } = Astro.props;
---

<!-- Toolbadge & Page Title -->
<div class="flex flex-col items-center gap-4 lg:gap-5">
  <!-- Toolbadge -->
  <ToolBadge icon={badgeIcon} text={badgeText} />
  <!-- Page Title -->
  <h1 class="text-center text-3xl font-medium md:text-5xl lg:text-6xl">{sectionTitle}</h1>
</div>
